<%- include("./Partials/header")-%>

<h1>How to Journal</h1>
<div>
  <H5>Try these tips to help you get started with journaling:</H5>
  <ul>
    <li>Try to write every day. Set aside a few minutes every day to write. This will help you to write in your journal regularly.</li>
    <li>Write or draw whatever feels right. Your journal doesn't need to follow any certain structure. </li>
  </ul>
</div>
<p><%=aboutPageContent %></p>

<%- include("./Partials/footer")-%>